.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  flex-direction: inherit;
  min-height: 100vh;
}

.checkout_ad {
  width: 100%;
  margin-bottom: -45px;
  position: inherit;
  top: -5px;
  left: 2px;
}
.button {
  margin-left: 565px;
  margin-bottom: 20px;
  padding: 10px 5px;
  font-size: 11px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: lightgrey;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button:hover {
  background-color: #f0c14b;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.checkout_title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 2px solid lightslategray;
}
